.debug-bord {
  border: 2px dashed hotpink;
}

/* Extra Utilities */

.rounded-4 {
  border-radius: 0.6rem !important;
}

.rounded-5 {
  border-radius: 1rem !important;
}

.text-blue {
  color: #167ed2;
}

/* Section Backgrounds */

#newreleases {
  background-color: #1f1f1f;
}

#jumbo-1 {
  height: 675px;
  background-image: url(../img/jumbo-bg.png);
  background-position: top;
  background-size: cover;
}
#jumbo-2 {
  height: 675px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
}
