/* .debug-bord {
  border: 2px dashed hotpink;
} */

/* Extra Utilities */

.rounded-4 {
  border-radius: 0.6rem !important;
}

.rounded-5 {
  border-radius: 1rem !important;
}

.text-blue {
  color: #167ed2;
}

/* Section Backgrounds */

header {
  background-color: #000000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

.jumbo-select .active {
  border: 2px solid #2d64e6;
  border-radius: 1rem;
  padding: 2px;
}

.jumbo-select .wrapper {
  transition: transform 0.5s;
}

.jumbo-select .wrapper:hover {
  transform: translateY(-7px);
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none;
}

body {
  padding-top: 7rem;
}

#newreleases {
  background-color: #1f1f1f;
}

#ps5-spotlight .active {
  border-bottom: 2px solid #2d64e6;
}
#ps5-spotlight .active img {
  filter: opacity(100%);
}

#ps5-spotlight .inactive img {
  filter: opacity(50%);
  transition: filter 0.5s;
}

#ps5-spotlight .inactive:hover img {
  cursor: pointer;
  filter: opacity(100%);
}

#jumbo-1 {
  height: 675px;
  background-image: url(../img/jumbo-bg.png);
  background-position: top;
  background-size: cover;
}

#jumbo-2 {
  height: 675px;
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-position: center;
  background-size: cover;
}

#ps-plus {
  background-color: #bebcbb;
}

#ps-now {
  background-color: #161c3b;
}

footer {
  background-color: #00439c;
}

.region {
  height: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
}

footer ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
}

footer ul li a:hover {
  text-decoration: none;
  color: white;
  transform: scale(1.1);
}

#sie-logo {
  width: 150px;
  height: auto;
}

#copyright a {
  color: white;
}

.search-button {
  font-size: 1.5rem;
  cursor: pointer;
}

.my-btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: transparent;
  padding: 0;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-wrap {
  border: 2px solid transparent;
  border-radius: 1.5rem;
  padding: 0.375rem 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-buy {
  background-color: #cd3d0f;
  color: white;
  border-color: #cd3d0f;
  border-radius: 1.5rem;
  padding: 0;
}

.btn-buy:hover .btn-wrap {
  border-color: black;
}

.btn-login {
  background-color: #363636;
  color: white;
  border-color: #363636;
  border-radius: 1.5rem;
  padding: 0;
}

.btn-login:hover .btn-wrap {
  border-color: white;
}

.btn-explore {
  background-color: #2d64e6;
  color: white;
  border-color: #2d64e6;
  border-radius: 1.5rem;
  padding: 0;
}

.btn-explore:hover .btn-wrap {
  border-color: white;
}

.btn-psplus {
  background-color: #d9dadc;
  color: #2d64e6;
  border-color: #d9dadc;
  border-radius: 1.5rem;
  padding: 0;
  border: 3px solid transparent;
}

.btn-psplus:hover {
  border-color: #c4c4c4;
}

.btn-psnow {
  background-color: #f5f5f5;
  color: black;
  border-color: #f5f5f5;
  border-radius: 1.5rem;
  padding: 0;
}

.btn-psnow:hover .btn-wrap {
  border-color: #161c3b;
}

/* # Hover Effects */

/*todo Aggiungere tutti gli effetti hover*/
