.debug-bord {
  border: 2px dashed hotpink;
}

.rounded-4 {
  border-radius: 0.6rem !important;
}

.rounded-5 {
  border-radius: 1rem !important;
}

/* Section Backgrounds */

#newreleases {
  background-color: #1f1f1f;
}
